body{
background: linear-gradient(109.6deg, rgb(56, 143, 115) 11.2%, rgb(32, 40, 48) 91.3%);
flex-direction: column;
margin: 0;
padding: 0;
box-sizing: border-box;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.main-board-div{
    background-color: #01352c;
    height: auto;
    width: 30%;
    padding: 2% 2%;
    box-shadow: 15px 15px 90px #bad8b6;
    
}

.boxes-div{
    display: flex;
    justify-content:space-evenly ;
    flex-direction: column;
    align-items: center;
}
.boxes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.box{
    background-color: #bad8b6;
    width: 100%;
    height: 20vh;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
  color: #bad8b6;
  text-shadow: 0 0 10px #01352c, 0 0 20px #01352c, 0 0 30px #01352c;
  border: none;
  outline: none;
}


.btn {
  margin: 100px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
